#firstPageContainer{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gameContainer{
    position: relative;
    border-color: black;
    border-width: 10px;
    height: 820px;
    width: 1450px;
    overflow: scroll;
    border-style: solid;
    border-width: 2px;
}
#bulbasaur {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0;
    top: 0;
}
.flower {
    height: 50px;
    width: 50px;
    position: absolute;
}
#kellyphamContainer {
    width: 550px;
    height: 150px;
    position: absolute;
    left:450px;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#kellypham{
    /* background-color: green; */
    font-family: 'COINY';
    font-size: 72px;
}
#instructions{
    font-family: 'CODA';
    font-size: 24px;
}
#footer {
    position: absolute;
    top: 750px;
    width: 1450px;
    height: 70px;
    background-color: #D9D9D9;
    font-family: 'CODA';
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}
.gameModeBtn{
    margin: 7px;
    font-family: 'CODA';
    font-size: 20px;
    background-color: #C6E1E4;
    border-radius: 5px;
    border-width: 0px;
    padding: 7px
}
.btnClicked{
    background-color: #AEC7CB; 
}
#restart{
    margin:20px
}
#skipToWebsite{
    bottom: 15px;
    position:absolute;
    right: 20px;
}
#flowerCard{
    width: 300px;
    position: absolute;
    background-color: #D9D9D9;
    left: 575px;
    top: 200px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#flowerCardTitle{
    font-family: 'CODA';
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px

}
#flowerCardX {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #AEC7CB;
    font-family: 'CODA';
}
#flowerInCard{
    margin-top: 50px;
}
#cardImage{
    height: 150px;
    border-radius: 10px;
    margin-top: 20px;
}
#cardText{
    margin-top: 20px;
    font-family: 'CODA';
    width: 250px;
    text-align: center;
}

.wall{
    background-color: #AEC7CB;
    position: absolute;
}
.single{
    width: 50px;
    height: 50px;
}
.horiz2{
    width: 100px;
    height: 50px;
}
.horiz3{
    width: 150px;
    height: 50px
}
.horiz4{
    width: 200px;
    height: 50px
}
.horiz5{
    width: 250px;
    height: 50px
}
.horiz6{
    width: 300px;
    height: 50px
}
.horiz9{
    width: 450px;
    height: 50px
}
.horiz10{
    width: 500px;
    height: 50px
}
.horiz15{
    width: 750px;
    height: 50px
}
.vert2{
    width: 50px;
    height: 100px
}
.vert3{
    width: 50px;
    height: 150px
}
.vert4{
    width: 50px;
    height: 200px
}
.vert5{
    width: 50px;
    height: 250px
}
.vert6{
    width: 50px;
    height: 300px;
}
.vert7{
    width: 50px;
    height: 350px;
}
.vert8{
    width: 50px;
    height: 400px;
}
.vert10{
    width: 50px;
    height: 500px
}
